rqt-graph==0.4.16
camera-calibration==1.17.0
rosmake==1.15.10
rqt-plot==0.4.16
tf2-ros==0.7.10
rqt-bag==0.5.3
gencpp==0.7.2
roslint==0.12.0
rqt-service-caller==0.4.12
smach-ros==2.5.3
rosparam==1.17.4
rqt-topic==0.4.15
rqt-gui-py==0.5.5
sensor-msgs==1.13.2
rosservice==1.17.4
rqt-srv==0.4.11
rqt-moveit==0.5.13
rostest==1.17.4
rqt-pose-view==0.5.13
rosmsg==1.17.4
joint-state-publisher==1.15.2
cv-bridge==1.16.2
rqt-console==0.4.14
qt-dotgraph==0.4.5
rqt-action==0.4.11
controller-manager==0.20.0
resource-retriever==1.12.10
catkin==0.8.12
qt-gui-cpp==0.4.5
actionlib==1.14.3
message-filters==1.17.4
rosmaster==1.17.4
rqt-dep==0.4.14
genlisp==0.4.18
roslz4==1.17.4
rostopic==1.17.4
rqt-tf-tree==0.6.5
diagnostic-updater==1.12.1
qt-gui-py-common==0.4.5
controller-manager-msgs==0.20.0
tf2-geometry-msgs==0.7.10
rosbag==1.17.4
genmsg==0.6.1
gennodejs==2.0.2
rosgraph==1.17.4
rqt-py-console==0.4.12
rosunit==1.15.10
interactive-markers==1.12.2
joint-state-publisher-gui==1.15.2
gazebo_plugins==2.9.3
camera-calibration-parsers==1.12.1
diagnostic-analysis==1.12.1
rosnode==1.17.4
gazebo_ros==2.9.3
tf==1.13.4
rqt-top==0.4.11
rqt-image-view==0.4.19
rqt-shell==0.4.13
tf2-py==0.7.10
topic-tools==1.17.4
rosclean==1.15.10
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-msg==0.4.12
rqt-rviz==0.7.2
rospy==1.17.4
bondpy==1.8.7
dynamic-reconfigure==1.7.6
rqt-reconfigure==0.5.7
xacro==1.14.20
tf-conversions==1.13.4
rqt-py-common==0.5.5
smclib==1.8.7
roslaunch==1.17.4
rqt-launch==0.4.10
angles==1.9.14
rqt-robot-monitor==0.5.15
diagnostic-common-diagnostics==1.12.1
python-qt-binding==0.4.6
laser-geometry==1.6.8
rqt-publisher==0.4.12
genpy==0.6.18
roswtf==1.17.4
rqt-web==0.4.11
rosboost-cfg==1.15.10
rqt-nav-view==0.5.8
rqt-robot-dashboard==0.5.8
geneus==3.0.0
rqt-bag-plugins==0.5.3
tf2-kdl==0.7.10
rviz==1.14.26
roslib==1.15.10
image-geometry==1.16.2
smach==2.5.3
qt-gui==0.4.5
rqt-gui==0.5.5
rqt-logger-level==0.4.13
roscreate==1.15.10
carla==0.9.15
typing_extensions==4.15.0
pandas==2.3.3
typing-inspection==0.4.2
mpmath==1.3.0
sentry-sdk==2.45.0
nvidia-cuda-runtime-cu12==12.8.90
wheel==0.45.1
idna==3.11
aiosignal==1.4.0
sympy==1.14.0
PyYAML==6.0.3
nvidia-curand-cu12==10.3.9.90
torch-geometric==2.7.0
MarkupSafe==3.0.3
nvidia-cusparselt-cu12==0.7.1
transformers==4.57.1
tqdm==4.67.1
pip==25.3
nvidia-nvtx-cu12==12.8.90
wandb==0.23.0
propcache==0.4.1
setuptools==80.9.0
urllib3==2.5.0
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cufft-cu12==11.3.3.83
pyparsing==3.2.5
nvidia-cusolver-cu12==11.7.3.90
async-timeout==5.0.1
hf-xet==1.2.0
annotated-types==0.7.0
scikit-learn==1.7.2
yarl==1.22.0
Jinja2==3.1.6
tzdata==2025.2
numpy==2.2.6
xxhash==3.6.0
scipy==1.15.3
nvidia-nccl-cu12==2.27.5
torch==2.9.1
requests==2.32.5
safetensors==0.7.0
nvidia-nvjitlink-cu12==12.8.93
triton==3.5.1
nvidia-cufile-cu12==1.13.1.3
six==1.17.0
frozenlist==1.8.0
networkx==3.4.2
packaging==25.0
python-dateutil==2.9.0.post0
joblib==1.5.2
filelock==3.20.0
fsspec==2025.10.0
platformdirs==4.5.0
charset-normalizer==3.4.4
protobuf==6.33.1
smmap==5.0.2
threadpoolctl==3.6.0
psutil==7.1.3
certifi==2025.11.12
pydantic_core==2.41.5
regex==2025.11.3
aiohttp==3.13.2
GitPython==3.1.45
nvidia-nvshmem-cu12==3.3.20
tokenizers==0.22.1
multidict==6.7.0
pydantic==2.12.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cudnn-cu12==9.10.2.21
click==8.3.1
pytz==2025.2
aiohappyeyeballs==2.6.1
gitdb==4.0.12
nvidia-cuda-cupti-cu12==12.8.90
attrs==25.4.0
nvidia-cusparse-cu12==12.5.8.93
huggingface-hub==0.36.0
